@model Student

@{
    ViewBag.Title = "title";
}

<h2>Add Student</h2>
@using (Html.BeginForm("AddNewStudent"))
{
    <p>id:@Html.TextBoxFor(m => m.Id)</p>
    <p>name:@Html.TextBoxFor(m => m.Name)</p>
    <p>age:@Html.TextBoxFor(m => m.Age)</p>
    <input type="submit" />
}
