@using StackExchange.Profiling;
<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>@ViewBag.Title - AutoFacMvc</title>
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @MiniProfiler.RenderIncludes()
</body>
</html>
